.EmailCodeform-group {
    margin-bottom: 1rem;
    display: -ms-flexbox;
    display: flex;
    -ms-flex: 0 0 auto;
    flex: 0 0 auto;
    -ms-flex-flow: row wrap;
    flex-flow: row wrap;
    -ms-flex-align: center;
    align-items: center;
    width:300px;
  }
.errstyle {
    color:coral;
}